<label>Username</label>
<input type="text" [(ngModel)]='username' />
<button
(click) = "onCreateServer()"
>Add Server</button>


<p *ngIf="serverCreated else noServer">Server was created, and name of server is {{username}}</p>


<ng-template #noServer>
    <p>
        No server was created!
    </p>
</ng-template>

<br>

<!-- <button [disabled] = "username === '' " (click) = " username = '' ">Reset User</button> -->
<button (click) = "showSecret = !showSecret">Display Details</button>

<p *ngIf = "showSecret" >Secret paswword = Vishnu</p>